@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-fw fa-id-card-o"></i>People
        </h1>
    </div>
    @{
        var peopleItems = Umbraco.TypedContentAtXPath("/root/home/branch/branch/people");
        foreach (var peopleItem in peopleItems)
        {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>@peopleItem.Name</h4>
                    </div>
                    @{
                        var img = Umbraco.TypedMedia(peopleItem.GetPropertyValue<int>("PeopleImage"));
                        if (img != null)
                        {
                            <img class="img-responsive" src="@img.Url" />
                        }
                    }
                    <div class="panel-body">
                        <p>@(Umbraco.Truncate(peopleItem.GetPropertyValue("peopleBio").ToString(), 200, true))</p>
                        <p>@peopleItem.GetPropertyValue("peopleRole")</p>
                        <a href="@peopleItem.Url" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
                        }
    }
</div>
