@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@{
    Layout = "Master.cshtml";
}
@{Html.RenderPartial("Breadcrumb");}
<div class="row">
    <div class="col-md-3">
        @{Html.RenderPartial("Navigation Siblings");}
    </div>
    <div class="col-md-9">
        <div class="row">
            <h2>@Umbraco.Field("partnerName")</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                @{
                    var imageLogo = Model.Content.GetPropertyValue<IPublishedContent>("partnerLogo");
                    if (imageLogo != null)
                    {
                        <img class="img-responsive" src="@imageLogo.GetPropertyValue("umbracoFile")" />
                    }
                    else
                    {
                        <img class="img-responsive" src="~/media/1003/750x450.png" />
                    }
                }
            </div>
            <div class="col-md-9">
                @{
                    var image = Model.Content.GetPropertyValue<IPublishedContent>("partnerImage");
                    if (image != null)
                    {
                        <img class="img-responsive" src="@image.GetPropertyValue("umbracoFile")" />
                    }
                    else
                    {
                        <img class="img-responsive" src="~/media/1003/750x450.png" />
                    }
                }
            </div>
            <div class="col-md-12">
                @{
                    var partnerLinks = Model.Content.GetPropertyValue<RelatedLinks>("partnerUrl");
                    if (partnerLinks != null)
                    {
                        foreach (var item in partnerLinks)
                        {
                            var linkTarget = (item.NewWindow) ? "_blank" : null;
                            <a href="@item.Link" target="@linkTarget">@item.Caption</a>
                        }
                    }
                }
            </div>
        </div>
        <div class="row">
            @{
                foreach (var department in Model.Content.Children())
                {
                    <div class="row">
                        <div class="col-md-4">
                            <a href="@department.Url">
                            <i class="fa fa-fw fa-users"></i>
                            @department.GetPropertyValue("departmentName")
                            </a>
                            @*@{var departmentImage = Umbraco.TypedMedia(department.GetPropertyValue<int>("departmentImage"));
                            if (departmentImage != null)
                            {
                                <img class="img-responsive" src="@departmentImage.Url" />
                            }
                        }*@
                        </div>
                        <div class="col-md-6">
                            @department.GetPropertyValue("departmentLocation")
                            @department.GetPropertyValue("departmentContactName")
                            @department.GetPropertyValue("departmentContactPhone")
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>